<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/posts.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostEditServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.PostEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostEditServlet</servlet-name>
        <url-pattern>/post/edit.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CandidateServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.CandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateServlet</servlet-name>
        <url-pattern>/candidates.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CandidateEditServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.CandidateEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateEditServlet</servlet-name>
        <url-pattern>/candidate/edit.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CandidateImageServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.CandidateImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateImageServlet</servlet-name>
        <url-pattern>/candidateimage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CityServlet</servlet-name>
        <servlet-class>ru.af3412.dream.servlet.CityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityServlet</servlet-name>
        <url-pattern>/cities.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.af3412.dream.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>ru.af3412.dream.filter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/dreamjob/*</url-pattern>
    </filter-mapping>
</web-app>